<% if @local_area.users.any? %>
  <% @local_area.users.each do |user| %>
    <%= user.id %>
    <div class = "row">
      <div class = "medium-10 medium-centered columns large-8">
      <a href = "/users/<%=user.id%>"><%= user.username %></a>
        <p>User Distance Score: <%= user.distance_score %></p>
        <%= image_tag user.avatar.url(:thumb) %>
      </div>
    </div>
  <% end %>
<% else %>
    <div class = "row">
      <div class = "medium-10 medium-centered columns large-8">
        <p>There are no users in your vacinity... yet.</p>
      </div>
    </div>
<% end %>

