<div class='row'>
  <div class="small-12 small-centered columns">
    <!-- <ul class="button-group radius"> -->
        <a class='button small ' id="load-territory-geo-layer">My Territory</a>
        <a class='button small' id="load-neighborhood-geo-layer">Neighborhood</a>
        <a class='button small' id="load-local-area-geo-layer">Local Area</a>
    </ul>
  </div>
</div>

</div>
<div id='square-map' data-user-walk-count="<%= @user.walks.count %>">
  <%= render "shared/map" %>
</div>

<div id="messages" class="row">
  <%= render 'shared/notifications' %>
  <%= render 'shared/dashboard_greeting_banner' %>
</div>

  <%= render "shared/start_walk_button" %>

<% if current_user.dogs.any? %>
  <div class = "row">
    <div class = "small-centered columns">
      <h3>My Dogs</h3>
        <% current_user.dogs.each do |dog| %>
          <%= render partial: "dogs/dog_stats", locals: {dog: dog} %>
        <% end %>
    </div>
  </div>
  <% else %>
  <div data-alert class='alert-box warning radius' >
      You haven't added any dogs yet!<a href="#" class="close">&times;</a>
  </div>
<% end %>



<div class = "row">
  <div class = "small-centered columns">
    <h3>Neighborhood Leaders</h3>
      <% @local_area.neighbors.each do |neighbor| %>
        <%= render partial: "user_stats", locals: {user: neighbor} %>
      <% end %>
  </div>
</div>

<div class="row">
  <%= render "shared/logout_button" %>

</div>

