
<li><a id="load-territories-geo-layer">Territories</a></li>
</div>
<div id='square-map' data-user-walk-count="<%= @user.walks.count %>">
  <%= render "shared/map" %>
</div>

<div id="message" class="row">
  <% if @errors %>
    <div data-alert class='alert-box alert radius' >
      <% @errors.each do |error| %>
        <%= error %>
      <% end %>
    </div>
  <% elsif flash[:message] %>
    <div data-alert class='alert-box warning radius' >
      <%= flash[:message] %>
    </div>
  <% elsif current_user.walks.length == 0 %>
    <div data-alert class='alert-box warning radius' >
      You don't have any walks yet!
    </div>
  <% end %>
  <%= render "shared/start_walk_button" %>
</div>


<div class = "row">
  <div class = "small-centered columns">
    <h3>Neighborhood Leaders</h3>
      <% @local_area.neighbors.each do |neighbor| %>
        <%= render partial: "user_stats", locals: {user: neighbor} %>
      <% end %>
  </div>
</div>

<div class="row">
  <%= render "shared/logout_button" %>

</div>

