<%= form_for @user do |f| %>

	<div class = "row">
		<div class = "large-4 medium-8 columns">
		      <%= f.label :username %>
		      <%= f.text_field :username 	%>
		</div>
	</div>

	<div class = "row">
		<div class = "large-4 medium-8 columns">
		      <%= f.label :email %>
		      <%= f.email_field :email %>
			</div>
	</div>

	 <div class = "row">
    <div class = "medium-3 columns">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
  </div>

	 <div class = "row">
    <div class='medium-3 columns'>
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
    </div>

    <div class='medium-3 columns'>
      <%= f.submit "save changes", {class: "button"} %>
    </div>
  </div>

<% end %>

<div class = "row">
	<div class = "large-4 medium-8 columns">
		<h2>Edit your pack: </h2>
			<%= link_to "add to pack", new_user_dog_path(@user) %>
			<% @user.dogs.each do |dog| %>

				<p><%= link_to "edit", edit_user_dog_path(dog.owner, dog) %> <a hreff="#"><%= dog.name %></a> <%= button_to "remove", destroy_dog_path(@user, dog) %></p>

			<% end %>
		</div>
</div>