<%= form_for @user do |f| %>

<div class = "row">
<div class = "large-4 medium-8 columns">
      <%= f.label :username %>
      <%= f.text_field :username 	%>
</div>
</div>

<div class = "row">
<div class = "large-4 medium-8 columns">
      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.submit "Save changes"%>
</div>
</div>

<% end %>