<%= form_for @user do |f| %>

  <div class = "row">
    <div class = "large-6 medium-8 <!-- medium-centered --> columns">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
 <!--  </div> -->

  <!-- <div class = "row"> -->
    <div class = "large-6 medium-8 <!--  medium-centered  --> columns">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
  </div>

  <div class = "row">
    <div class = "medium-3 columns">
      <%= f.label :password %>
      <%= f.text_field :password %>
    </div>
  </div>

  <div class = "row">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>

  <div class = "row">
    <%= f.submit "register" %>
  </div>

<% end %>

<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %>
  <% end %>
<% end %>
