<div class = "row">
  <div class = "medium-10 medium-centered columns large-8">
    <h1><%= @user.username %></h1>
    <%= image_tag @user.avatar.url(:large) %>
  </div>
</div>

  <h2><%= @user.username %>'s dogs:</h2>

  <% @user.dogs.each do |dog| %>
    <%= dog.name %>
    <%= image_tag dog.avatar.url(:medium) %>
  <% end %>
  </div>
</div>



