<div id="show" data-controller-name="<%= controller_name %>" class = "row">
  <div class = "medium-10 medium-centered columns large-8">
    <h1><%= @user.username %></h1>
    <%= image_tag @user.avatar.url(:large) %>
  </div>
<li><a id="load-territories-geo-layer">Territories</a></li>
</div>
<div id='square-map'>
  <%= render "shared/map" %>
</div>

<div class = "row">
  <div class = "medium-10 medium-centered columns large-8">
    <h2>Your stats:</h2>
    <!-- filler -->
      <p> Territory: <%= number_with_delimiter(@user.area.round(1), delimiter: ',') %> square meters </p>
      <p> Distance Traveled: <%= @user.distance_traveled %> miles</p>
      <p> Score: <%= @user.distance_score %>pts </p>
    <!-- filler -->
  </div>
</div>



<div class = "row">
  <div class = "medium-10 medium-centered columns large-8">
  <h2><%= @user.username %>'s dogs:</h2>

  <% @user.dogs.each do |dog| %>
    <div>
      <a href = "<%=@user.id%>/dogs/<%=dog.id%>"><%= dog.name %></a>
      <p><%= dog.name %>'s birthday <%= dog.birthday.strftime("%B %d, %Y") %></p>
      <%= image_tag dog.avatar.url(:medium) %>
    </div>
  <% end %>
  </div>
</div>



