<div class = "row">
  <div class = "medium-10 medium-centered columns large-8">
    <h1><%= @user.username %></h1>
    <%= image_tag @user.avatar.url(:large) %>
  </div>
</div>

  <%= render "shared/map" %>


<div class = "row">
  <div class = "medium-10 medium-centered columns large-8">
  <h2><%= @user.username %>'s dogs:</h2>

  <% @user.dogs.each do |dog| %>
    <div>
      <a href = "<%=@user.id%>/dogs/<%=dog.id%>"><%= dog.name %></a>
      <p><%= dog.name %>'s birthday <%= dog.birthday.strftime("%B %d, %Y") %></p>
      <%= image_tag dog.avatar.url(:medium) %>
    </div>
  <% end %>
  </div>
</div>



