	<div id="stats">
      <div class = "row">
        <p>A walk on <%=@walk.created_at%>. </p>
         Walk <%= params[:id] %>
      </div>
    <div class="row">
	    <div class="small-4 columns">Distance: 1 mi [ph] <%= nil %> </div>
	    <div class="small-4 columns">Area: 1 sqmi [ph] <%= nil %> </div>
	    <div class="small-4 columns">Time: 23 min [ph] <%= nil %> </div>
	  </div>
	</div>

