<div id = "stats">
  <div class = "row">
    <p>Walk Id: <%= @walk.id %> -  Total Marks: <%= @walk.marks.count %>  <br>Last Mark: Lat: <%=@mark.coords.x %> Lon: <%=@mark.coords.y %> Acc: <%=@mark.accuracy %></p>

  </div>
</div>
