<% if @walk.marks.any? %>
<div id = "stats" data-walk-mark-count="<%= @walk.marks.count %>">
	  <div class="row">
	    <div class="small-4 columns">Distance: 1 mi <%= nil %> </div>
	    <div class="small-4 columns">Area: 1 sqmi <%= nil %> </div>
	    <div class="small-4 columns">Time: 23 min <%= nil %> </div>
	  </div>
	  <div class="row">
	  	<div class="small-10 small-centered columns">Tap <span>End</span> when you're done!</div>
	  </div>
	</div>


<% else %>
  <div id = "stats" data-walk-mark-count="<%= @walk.marks.count %>">
	  <div class="row">
	  	<div class="small-10 small-centered columns">Let's <span>Mark</span> something!</div>
	  </div>
	</div>
<% end %>
