<div id='new-walk-form'>
  <%= form_for @walk, html: {id: "new_walk_form"} do |f| %>
    <% if current_user.dogs.any? %>
    <h3>Choose Dogs</h3>
      <% current_user.dogs.each do |dog| %>
      <label><input type='checkbox' name='dogs[<%=dog.id %>]' value='<%=dog.id%>' checked ><%= dog.name %></label>

      <% end %>
    <% else %>
      <h3>You don't have any dogs.</h3>
      <h5><%= link_to "Maybe you should add one?", new_user_dog_path(current_user) %> </h5>
    <% end %>
    <input type='submit' value="Let's Go!" class='button'>

  <% end %>
</div>





