<div class="show" id="show" data-controller-name="<%= controller_name %>"></div>

<div id = "stats">
  <% if walk_in_progress? %>
    <%= render 'walk_in_progress_stats' %>
  <% else %>
    <%= render "complete_walk_stats" %>
  <% end %>
</div>

  <div id='square-map'>
    <%= render "shared/map" %>
  </div>

  <% if session[:walk_id] == params[:id].to_i %>
    <%= render "buttons" %>
  <% end %>

