<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "SDWa" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application"%>
    <!-- Google Maps API? -->
    <%= csrf_meta_tags %>
  </head>


  <body class="<%= controller_name %> <%= action_name %>">
    <%= render 'shared/header' %>
    <%= render 'shared/errors' if @errors %>

    <div class="container" id = "the-yield">
      <%= yield %>
    </div>

  </body>


</html>
