<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Terriertory" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application"%>
    <!-- Google Maps API? -->
    <%= csrf_meta_tags %>
  </head>


  <body class="<%= controller_name %> <%= action_name %>">
    <%= render 'shared/header' %>

    <div class="container" id = "the-yield">
      <%= yield %>
    </div>

  <% if Rails.env.development? %>
<pre>
    <%= debug(params) %>
    Walk: <%= session[:walk_id]%>
    User: <%= session[:user_id] %>

</pre>
  <% end %>
  </body>


</html>
